.center {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
   font-size: 45px;
}

.center2 {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.button {
    background-color: #f44336; /* Red */
	border-radius: 25px;
     height: 100%;
  width: 80%;
	border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardblue {
    background-color: #1589FF; /* Red */
	border-radius: 10px;
     height: 100%;
  width: 70%;
	border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardlightblue {
    background-color: #3BB9FF; /* Red */
	border-radius: 10px;
     height: 100%;
  width: 70%;
	border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardlightred {
    background-color: #f44336; /* Red */
	border-radius: 10px;
     height: 100%;
  width: 70%;
	border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}